#root {
  .part1 {
    height: 863px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .wrapper {
      width: 1280px;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: left;

      .title {
        font-size: 80px;
        line-height: 0.94;
        font-family: 'tvn_Medium';
        position: relative;
        z-index: 5;

        img {
          position: absolute;
          bottom: 78px;
          z-index: -1;
          width: 319px;
          height: 56.3px;
        }

        .sub {
          font-size: 18px;
          line-height: 1.56;
          font-family: "KoPub_Medium";
          margin-top: 29px;
        }
      }

    }
  }
}