#root {
  .section2 {
    width: 100%;
    height: 1239px;
    position: relative;

    .wrapper {
      margin: 0 auto;
      width: 1280px;
      height: 100%;
      box-sizing: border-box;
      padding-top: 459px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        text-align: center;
        font-family: 'KoPub_Medium';
        font-size: 35px;

        span {
          position: relative;
          font-family: 'KoPub_Bold';

          .line {
            position: absolute;
            bottom: -10px;
            z-index: -1;
            width: 377.6px;
            height: 51.8px;
          }
        }
      }

      img {
        margin-top: 66.2px;
      }
    }


    .greybox {
      z-index: -1;
      height: 548px;
      width: 100%;
      background-color: #f2f2f2;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

@media screen and (max-width: 1280px) {
  #root {
    .section2 {
      height: 605px;

      .wrapper {
        width: 100%;
        padding-top: 271px;

        .title {
          font-size: 22px;

          span {
            .line {
              width: 245px;
              height: 33.6px;
            }
          }
        }

        img {
          width: 317px;
          height: 155px;
          margin-top: 41px;
        }
      }
    }
  }
}