#root {
  .part5 {
    height: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'KoPub_Medium';
    text-align: center;

    span {
      font-family: 'KoPub_Bold';
    }

    .title {
      position: relative;
      font-size: 40px;

      .line {
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 280.1px;
        height: 35.5px;
        z-index: -1;
      }
    }

    .sub {
      margin-top: 31px;
      font-size: 18px;
      line-height: 1.67;
    }

    .main_img {
      width: 1280px;
      height: 636px;
      margin-top: 77px;
    }
  }
}

@media screen and (max-width: 1280px) {
  #root {
    .part5 {
      height: 709px;
      position: relative;
      justify-content: unset;
      padding-top: 127px;
      box-sizing: border-box;

      .title {
        font-size: 29px;

        .line {
          width: 154px;
          height: 20.3px;
          bottom: unset;
          top: 20px;
        }
      }

      .sub {
        margin-top: 23px;
        font-size: 13px;
        line-height: 1.54;
      }

      .main_img {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 358px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 0;
      }
    }
  }
}