#root {
  .section6 {
    height: 1028px;
    padding-top: 188px;
    box-sizing: border-box;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom;

    .top {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      font-size: 70px;
      font-family: 'tvn_Medium';

      span {
        margin-top: 11px;
        font-size: 18px;
        font-family: 'KoPub_Medium';
      }
    }

  }
}

@media screen and (max-width: 1080px) {
  #root {
    .section6 {
      height: 579px;
      padding-top: 109px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .top {
        font-size: 50px;

        span {
          font-size: 13px;
        }
      }

      .main_img {
        width: 331px;
        height: 312px;
        position: absolute;
        bottom: 0;
      }
    }
  }
}