#root {
  .footer {
    height: 278px;
    background-color: #2e2e2e;

    .wrapper {
      width: 1280px;
      margin: 0 auto;
      padding-top: 149.6px;
      box-sizing: border-box;

      .content {
        font-size: 13px;
        color: white;
        font-family: 'Noto Sans KR',
          sans-serif;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #root {
    .footer {
      height: 277px;

      .wrapper {
        width: 100%;
        padding-top: 97.7px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
          width: 148.6px;
          height: 36.7px;
          margin-bottom: 15.2px;
        }

        .content {
          line-height: 1.77;
        }
      }
    }
  }
}