$main : #60e7a3;

#root {
  .header {
    width: 100%;
    position: sticky;
    height: 70px;
    top: 0;
    background-color: $main;
    padding-left: 127.6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
      width: 148.6px;
      height: 36.7px;
    }

    .menu_wrapper {
      position: absolute;
      right: 133px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 66px;

      .menu {
        cursor: pointer;
        font-size: 20px;
        color: white;
        font-family: "KoPub_Bold",
          sans-serif;
      }
    }
  }
}