$main : #60e7a3;

#root {
  .header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 20;

    .text_wrapper {
      height: 70px;
      padding-left: 127.6px;
      box-sizing: border-box;
      display: flex;
      align-items: center;

      img {
        cursor: pointer;
        width: 148.6px;
        height: 36.7px;
      }

      .menu_wrapper {
        position: absolute;
        right: 133px;
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 66px;

        .menu {
          transition: color 0.4s ease-in-out;
          cursor: pointer;
          font-size: 20px;

        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  #root {
    .header {
      height: 60px;
      transition: 0.3s ease-in-out;

      .text_wrapper {
        padding: 0 20px 0 20px;
        z-index: 30;

        img {
          width: 102px;
          height: 25.2px;
        }

        .menu_wrapper {
          right: 20px;
          display: block;
          cursor: pointer;

          .menu {
            width: 28px;
            height: 28px;
          }
        }
      }

      .wrapper {
        width: 100%;
        position: absolute;
        bottom: -162px;
        background-color: white;
        transition: opacity 0.3s ease-in-out;
        overflow: hidden;
        z-index: -1;

        .menubox {
          height: 54px;
          display: flex;
          align-items: center;
          padding-left: 21px;
          font-size: 17px;
          font-family: 'KoPub_Bold';
        }
      }
    }
  }
}